*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.mi-tabla{
    margin-top: 100px;
    margin-left: 100px;
}

#table-container{
    position: relative;
    width :900px;
}

#table th {
    width: 150px;
    height: 35px;
    background-color:blue;
    color: #fff;
  }

  #table td{
    width: 150px;
    height: 35px;
    background-color:#fff;
    border: 1px solid blue;
    font-weight: bold;
  }

tr{
    display: flex;
    height: 40px;
    width :100%;
    align-items: center;
}

th, td{
   display: flex;
   align-items: center;
   justify-content: center;
}

td{
    font-size: 11px;
}
.buttom-container{
    width :900px;
    display: flex;
    flex-direction: row-reverse;
    
}
button{
    width: 125px;
    height: 56px;
    background: yellow;
    font-weight: bold;

}